asgiref==3.2.10
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography~=3.2.1
Django~=3.1.2
django-axes==5.8.0
django-encrypted-filefield==0.3.0
django-ipware==3.0.1
django-ranged-response==0.2.0
django-simple-captcha~=0.5.13
fleep==1.0.1
idna==2.10
Pillow==8.0.1
pycparser==2.20
python-magic==0.4.13
python-magic-win64==0.4.13
pytz==2020.1
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
networkx==2.5
matplotlib==3.3.3
numpy==1.19.3